---
import { Image, Picture } from "@astrojs/image/components";
import right from "../../public/Images/right.svg";
import close from "../../public/Images/popup_close_btn.svg";
import "../styles.css";
---

<style>  
  /* Adjusted layout for smaller screens */
  @media (min-width: 767px) and (max-width: 834px) {
    .flex-col-md {
      flex-direction: column !important;
    }
    .justify-between-md {
      justify-content: space-between !important;
    }
    .items-center-md {
      align-items: center !important;
    }
    .pl-md {
      padding-left: 4rem !important;
    }
    .pr-md {
      padding-right: 3rem !important;
    }
    .py-md {
      padding-top: 1rem !important;
      padding-bottom: 1rem !important;
    }
    .text-center-md {
      text-align: center !important;
    }
    .text-left-md {
      text-align: left !important;
    }
    .whitespace-normal-md {
      white-space: normal !important;
    }
    .whitespace-nowrap-md {
      white-space: nowrap !important;
    }
  }
</style>


<div class="cookie-consent fixed bottom-0 left-0 w-full bg-[#31393C] bg-opacity-80 z-20" id="cookies-popup">
  <div class="flex flex-col flex-col-md md:flex-row justify-between justify-between-md items-center items-center-md pl-4 pl-md pr-3 pr-md py-3 md:py-1 py-md text-white"> <!-- Adjusted layout -->
    <div class="md:w-auto md:flex md:items-center mb-2 md:mb-0"> <!-- Adjusted width for text container and centered alignment -->
      <p class="font-semibold text-xs md:text-sm text-center text-left-md mb-0 mb-md-2 whitespace-normal whitespace-nowrap-md">This website uses cookies to ensure you get the best experience.</p> <!-- Adjusted text alignment and margin -->
    </div>
    <div class="flex flex-row items-center md:items-stretch md:space-y-0 space-x-3 md:space-x-5"> <!-- Adjusted layout -->
      <a href="/privacy-policy" class="underline text-xs md:text-sm text-center md:text-left md:py-4" id="more_info">More Information</a> <!-- Adjusted text alignment -->
      <div class="md:py-2">
        <button class="bg-[#3E96F4] rounded-lg text-white font-semibold text-xs md:text-sm px-3 md:px-4 py-1 md:py-2 h-auto" id="accept_button">Accept All Cookies</button> <!-- Adjusted font size and padding -->
      </div>
      <button class="rounded-full p-2" id="close">
      <Image loading="eager" 
                class="w-6 h-6 md:w-8 md:h-8 cursor-pointer"
                src={close}
                alt="close"
      />
      </button>
    </div>
  </div>
</div>

<script>
  function acceptCookies() {
    const expirationDate = new Date();
    expirationDate.setDate(expirationDate.getDate() + 1); // Add 1 day
    document.cookie = `cookieConsent=accepted; expires=${expirationDate.toUTCString()}; path=/`;

    var popup = document.getElementById("cookies-popup");
    popup.classList.add("hidden");

    var scroll = document.getElementById("s_top");
  scroll.style.marginBottom = "0";

  var chat = document.getElementById("chat_icon");
  chat.style.marginBottom = "0";
  }

  var accept = document.getElementById("accept_button");
  accept.addEventListener("click", acceptCookies);

  const cookieAccepted = document.cookie.includes("cookieConsent=accepted");

  const cookieRejected = document.cookie.includes("cookieConsent=rejected");
  if (cookieAccepted || cookieRejected) {
    var popup = document.getElementById("cookies-popup");
    popup.classList.add("hidden");
  } else {
    var style = document.createElement("style");

    // Define your custom class with an inline media query
    var customCSS = `
    @media (max-width: 280px){
      .custom-class {
      margin-bottom:8rem !important;
      }
      }

      @media (min-width: 281px) and (max-width: 434px){
      .custom-class {
      margin-bottom: 8rem !important;
      }
      }
 
      @media (min-width: 435px) and (max-width: 767px) {
      .custom-class {
      margin-bottom: 8rem !important;
      }
      }

      @media (min-width: 768px) and (max-width: 1024px) {
      .custom-class {
      margin-bottom: 7rem !important;
      }
      }

      @media (min-width:1025px){
      .custom-class {
      margin-bottom: 5rem !important; 
      }
      }
`;

    // Set the custom CSS as the innerHTML of the style element
    style.innerHTML = customCSS;

    // Append the style element to the document's head
    document.head.appendChild(style);

    // Add the custom class to your elements
    var scroll = document.getElementById("s_top");
    scroll.classList.add("custom-class");

    var chat = document.getElementById("chat_icon");
    chat.classList.add("custom-class");
  }

  var close = document.getElementById("close");
  close.addEventListener("click", close_popup);

  function close_popup() {
    const expirationDate = new Date();
    expirationDate.setDate(expirationDate.getDate() + 1); // Add 1 day
    document.cookie = `cookieConsent=rejected; expires=${expirationDate.toUTCString()}; path=/`;

    var popup = document.getElementById("cookies-popup");
    popup.classList.add("hidden");


  var scroll = document.getElementById("s_top");
  scroll.style.marginBottom = "0";

  var chat = document.getElementById("chat_icon");
  chat.style.marginBottom = "0";
  }
</script>
