---
import { Image, Picture } from "@astrojs/image/components";
import right from "../../public/Images/right.svg";
import close from "../../public/Images/popup_close_btn.svg";
import "../styles.css";
---

<div class="cookie-consent fixed bottom-0 left-0 w-full bg-[#31393C] bg-opacity-80 z-20" id="cookies-popup">
  <div class="flex flex-col md:flex-row justify-between items-center px-4 md:px-8 py-3 md:py-1 text-white"> <!-- Adjusted layout -->
    <p class="font-semibold text-xs md:text-sm text-center md:text-left mb-2 md:mb-0">This website uses cookies to ensure you get the best experience.</p> <!-- Adjusted text alignment and margin -->
    <div class="flex flex-col md:flex-row items-center md:items-stretch space-y-2 md:space-y-0 md:space-x-4"> <!-- Adjusted layout -->
      <a href="/privacy-policy" class="underline text-xs md:text-sm text-center md:text-left md:py-4" id="more_info">More information</a> <!-- Adjusted text alignment -->
      <div class="md:py-2">
        <button class="bg-[#3E96F4] rounded-lg text-white font-semibold text-xs md:text-sm px-3 md:px-4 py-1 md:py-2 h-auto lg:h-10" id="accept_button">Accept All cookies</button> <!-- Adjusted font size and padding -->
      </div>
        <button class="rounded-full p-2"  id="close">
        <img src="../../public/Images/popup_close_btn.svg" alt="close" class="w-8 h-8 cursor-pointer lg:ml-7" />
      </button>
    </div>
  </div>
</div> 

<script>
  function acceptCookies() {
    const expirationDate = new Date();
    expirationDate.setDate(expirationDate.getDate() + 1); // Add 1 day
    document.cookie = `cookieConsent=accepted; expires=${expirationDate.toUTCString()}; path=/`;

    var popup = document.getElementById("cookies-popup");
    popup.classList.add("hidden");

    var scroll = document.getElementById("s_top");
  scroll.style.marginBottom = "0";

  var chat = document.getElementById("chat_icon");
  chat.style.marginBottom = "0";
  }

  var accept = document.getElementById("accept_button");
  accept.addEventListener("click", acceptCookies);

  const cookieAccepted = document.cookie.includes("cookieConsent=accepted");

  const cookieRejected = document.cookie.includes("cookieConsent=rejected");
  if (cookieAccepted || cookieRejected) {
    var popup = document.getElementById("cookies-popup");
    popup.classList.add("hidden");
  } else {
    var style = document.createElement("style");

    // Define your custom class with an inline media query
    var customCSS = `
    @media (max-width: 280px){
      .custom-class {
      margin-bottom:12rem;
      }
      }

      @media (min-width: 281px) and (max-width: 434px){
      .custom-class {
      margin-bottom: 10.5rem;
      }
      }

      @media (min-width: 435px) and (max-width: 767px) {
      .custom-class {
      margin-bottom: 10.5rem;
      }
      }

      @media (min-width: 768px) and (max-width: 1024px) {
      .custom-class {
      margin-bottom: 5rem;
      }
      }

      @media (min-width:1025px){
      .custom-class {
      margin-bottom: 5rem; 
      }
      }
`;

    // Set the custom CSS as the innerHTML of the style element
    style.innerHTML = customCSS;

    // Append the style element to the document's head
    document.head.appendChild(style);

    // Add the custom class to your elements
    var scroll = document.getElementById("s_top");
    scroll.classList.add("custom-class");

    var chat = document.getElementById("chat_icon");
    chat.classList.add("custom-class");
  }

  var close = document.getElementById("close");
  close.addEventListener("click", close_popup);

  function close_popup() {
    const expirationDate = new Date();
    expirationDate.setDate(expirationDate.getDate() + 1); // Add 1 day
    document.cookie = `cookieConsent=rejected; expires=${expirationDate.toUTCString()}; path=/`;

    var popup = document.getElementById("cookies-popup");
    popup.classList.add("hidden");


  var scroll = document.getElementById("s_top");
  scroll.style.marginBottom = "0";

  var chat = document.getElementById("chat_icon");
  chat.style.marginBottom = "0";
  }
</script>
